<h1><%= @restaurant.name %></h1>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
<p><strong>Category: </strong><%= @restaurant.category %></p>

<h2>Reviews:</h2>

<%= link_to "Reviews", restaurant_reviews_path(@restaurant) %>
<%= link_to "Back", restaurants_path %>
